{% extends "default.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div id="installationsSeach" class="col">
      <form>
        <label for="arrondissement" class="lab"
          >Entrez un arrondissement :</label
        >
        <br />
        <input
          type="search"
          id="arrondissement"
          name="text"
          class="bar"
          required
        />
        <br />
        <button type="button" class="button" onclick="search()">Search</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div id="list" class="col">
      <label for="arrondissement" class="lab"
        >Selectionnez une installation :</label
      >
      <br />

      <select
        id="installationsList"
        name="iList"
        onchange="installation_details();"
      >
        <option value="">Aucun</option>
        {% for installation in all_installations %}
        <option value="{{ installation[2] }}">{{ installation[2] }}</option>
        {% endfor %}
      </select>
      >
    </div>
  </div>
</div>
{% endblock %}
